# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/

[*]
indent_style = tab
indent_size = 8
max_line_length = 80

[*.py]
indent_style = space
indent_size = 4
max_line_length = 80


